<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>showing a product</h1>
    <p>name: <%=farm.name %></p>
    <p>city: <%=farm.city %></p>
    <p>email: <%=farm.email %></p>
    <p><a href="/products/new/farms/<%=farm._id%>">make a new product</a></p>
    <p>list of products</p>
    <ul>
      <%for(let product of farm.products){%>
      <li><a href="/products/<%=product._id%>"><%=product.name%></a></li>
      <%}%>
    </ul>
    <a href="/farms">Back to All frams</a>
  </body>
</html>
